doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel='shortcut icon', href='/favicon.png' type='image/png')
		link(rel='stylesheet', href='/index.css')
		block title
			title= 'Inventory'
	body
		header
			a.simple(href='/') Home
			a.simple(href='/inventory/category') Categories
			a.simple(href='/inventory/category/create') Add Category
			a.simple(href='/inventory/item/create') Add Item

		div.wrapper
			div(class='sidebar')
				h2.teal= 'Categories'
				ul.m0.p0
					each category in categories
						li
							a.simple.fancy-hover(href=category.url) #{category.name}
					else
						li
							a.simple(href='inventory/category/create') Create a category

			block content
